$primary: #003366;
$secondary: #38b8c5;

@import "../node_modules/bootstrap/scss/bootstrap";

@import "../node_modules/@mdxeditor/editor/dist/style.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";
// import bootstrap scss

.read_only_editor div[role="toolbar"] {
  visibility: hidden;
}

/* gradient background */
body {
  background: #75c538;
  background: linear-gradient(90deg, #75c538 0%, #38b8c5 100%);
}

#root {
  min-height: 101vh;
}

.profile-item-header > button {
  margin: auto 0;
}

.card-header {
  background-color: #003366;
}
